doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Colors & Types
        link(href="../css/style.css" rel="stylesheet")
        link(href="../css/color&types-style.css" rel="stylesheet")
    body
        div(class="ui-container")
            div(class="ui-container__logo")
        div(class="colors-type")
            div(class="colors-type__left-column")
                ul(class="colors-type__colors-list")
                    li(class="colors-type__item")
                        div(class="color-segment")
                            div(class="color-segment__brick color-segment__brick_dark-shade-full")
                            div(class="color-segment__description")
                                span(class="color-segment__title-color") Dark Shade 100%
                                span(class="color-segment__hex-color") #1F2041
                    li(class="colors-type__item")
                        div(class="color-segment")
                            div(class="color-segment__brick color-segment__brick_dark-shade-three-fourth")
                            div(class="color-segment__description")
                                span(class="color-segment__title-color") Dark Shade 75%
                                span(class="color-segment__hex-color") #1F2041
                    li(class="colors-type__item")
                        div(class="color-segment")
                            div(class="color-segment__brick color-segment__brick_dark-shade-half")
                            div(class="color-segment__description")
                                span(class="color-segment__title-color") Dark Shade 50%
                                span(class="color-segment__hex-color") #1F2041
                    li(class="colors-type__item")
                        div(class="color-segment")
                            div(class="color-segment__brick color-segment__brick_dark-shade-one-fourth")
                            div(class="color-segment__description")
                                span(class="color-segment__title-color") Dark Shade 25%
                                span(class="color-segment__hex-color") #1F2041
                    li(class="colors-type__item")
                        div(class="color-segment")
                            div(class="color-segment__brick color-segment__brick_dark-shade-min")
                            div(class="color-segment__description")
                                span(class="color-segment__title-color") Dark Shade 5%
                                span(class="color-segment__hex-color") #1F2041
                    li(class="colors-type__item")
                        div(class="color-segment")
                            div(class="color-segment__brick color-segment__brick_purple")
                            div(class="color-segment__description")
                                span(class="color-segment__title-color") Purple
                                span(class="color-segment__hex-color") #BC9CFF
                    li(class="colors-type__item")
                        div(class="color-segment")
                            div(class="color-segment__brick color-segment__brick_green")
                            div(class="color-segment__description")
                                span(class="color-segment__title-color") Green
                                span(class="color-segment__hex-color") #6FCF97
            div(class="colors-type__right-column")
                ul(class="colors-type__right-column-list")
                    li(class="colors-type__right-column-item")
                        div(class="description-block")
                            p(class="description-block__title_large") H1
                            p(class="description-block__specification_large") This one is the sub-section or widget title
                    li(class="colors-type__right-column-item")
                        div(class="description-block")
                            p(class="description-block__title_medium") H2
                            p(class="description-block__specification_medium") Next one is the item title inside widgets
                    li(class="colors-type__right-column-item")
                        div(class="description-block")
                            p(class="description-block__title_small") H3
                            p(class="description-block__specification_small") This is a label or CTA text
                    li(class="colors-type__right-column-item")
                        div(class="description-block")
                            p(class="description-block__title_regular") Body
                            p(class="description-block__specification_regular") This is the body text which is used for most of the design, like paragraphs, lists, etc.



