doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Colors & Types
        link(href="../css/style.css" rel="stylesheet")
        link(href="../css/color&types-style.css" rel="stylesheet")
    body
        div.ui-container
            div.ui-container__logo
        div.colors-type
            div.colors-type__left-column
                ul.colors-type__colors-list
                    li.colors-type__item
                        div.color-segment
                            div.color-segment__brick.color-segment__brick_dark-shade-full
                            div.color-segment__description
                                span.color-segment__title-color Dark Shade 100%
                                span.color-segment__hex-color #1F2041
                    li.colors-type__item
                        div.color-segment
                            div.color-segment__brick.color-segment__brick_dark-shade-three-fourth
                            div.color-segment__description
                                span.color-segment__title-color Dark Shade 75%
                                span.color-segment__hex-color #1F2041
                    li.colors-type__item
                        div.color-segment
                            div.color-segment__brick.color-segment__brick_dark-shade-half
                            div.color-segment__description
                                span.color-segment__title-color Dark Shade 50%
                                span.color-segment__hex-color #1F2041
                    li.colors-type__item
                        div.color-segment
                            div.color-segment__brick.color-segment__brick_dark-shade-one-fourth
                            div.color-segment__description
                                span.color-segment__title-color Dark Shade 25%
                                span.color-segment__hex-color #1F2041
                    li.colors-type__item
                        div.color-segment
                            div.color-segment__brick.color-segment__brick_dark-shade-min
                            div.color-segment__description
                                span.color-segment__title-color Dark Shade 5%
                                span.color-segment__hex-color #1F2041
                    li.colors-type__item
                        div.color-segment
                            div.color-segment__brick.color-segment__brick_purple
                            div.color-segment__description
                                span.color-segment__title-color Purple
                                span.color-segment__hex-color #BC9CFF
                    li.colors-type__item
                        div.color-segment
                            div.color-segment__brick.color-segment__brick_green
                            div.color-segment__description
                                span.color-segment__title-color Green
                                span.color-segment__hex-color #6FCF97
            div.colors-type__right-column
                ul.colors-type__right-column-list
                    li.colors-type__right-column-item
                        div.description-block
                            p.description-block__title_large H1
                            p.description-block__specification_large This one is the sub-section or widget title
                    li.colors-type__right-column-item
                        div.description-block
                            p.description-block__title_medium H2
                            p.description-block__specification_medium Next one is the item title inside widgets
                    li.colors-type__right-column-item
                        div.description-block
                            p.description-block__title_small H3
                            p.description-block__specification_small This is a label or CTA text
                    li.colors-type__right-column-item
                        div.description-block
                            p.description-block__title_regular Body
                            p.description-block__specification_regular This is the body text which is used for most of the design, like paragraphs, lists, etc.



