body {
  display: grid;
  grid-template-columns: auto 1fr auto;
  min-height: 100%;
}

.ui-container__logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 48px;
  height: 48px;
  background-image: url('../img/ui_logo.svg');
}

.form-elements {
  display: flex;
  justify-content: space-between;
  padding: 140px;

}